<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: "img-fluid" %>
      <div class="carousel-caption">
        Find the best coffee shops
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider2.jpg', class: "img-fluid" %>
      <div class="carousel-caption">
        Looking for some quality chai?
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br/>
    <i><%= place.address %></i><br/><br/>
    <p><%= place.description %></p><br/>

    <!--<% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %> -->

    <% if place.photos.present? %>
      <div class="col-6">
        <%= image_tag place.photos.first.picture, class: 'img-fluid' %>
      </div>
    <% end %>

    <% if place.comments.present? %>
      <div class="col-12">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>
              <%= place.comments.last.message %>
            <small><%= place.comments.last.user.email %></small>
          </blockquote> 
      </div>
    <% end %>
  </div>
<% end %>



<div class="digg_pagination">
  <span class="disabled prev_page">← Previous</span>  
    <a href="./?page=2" rel="next" class="next_page">Next →</a>
</div>
