<div class="booyah-box col-10 col-1">
  <br/>
  <h1><%= @place.name %></h1><br/>
  <i><%= @place.address %></i><br/><br/>
  <p><%= @place.description %></p>
  
  
  <!--Place Photos-->
  <div>
    <% @place.photos.each do |photo| %>
      <%= image_tag photo.picture, class: 'img-fluid' %>
      <%= photo.caption %>
    <% end %>
  </div>
  <br/>

  <!--Place's map styling and logic-->
  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>
      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 15,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hellow World!'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGH4SYNyIZKSX7RSA_0McnhSBbBaFUmos&callback=initMap"
    async defer>
    </script>

    <!--Displays Place Map-->
    <div id="map"></div>
  <% end %>

  <br/>


  <div class="float-right">
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-warning' %>
      <!-- Picture Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myPicModal">Add a Picture</button>
      <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="clear"></div>
<br/>
<br/>
<br/>


<!-- Comment Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add a Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add Comment", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Picture Modal -->
<div class="modal fade" id="myPicModal" tabindex="-1" role="dialog" aria-labelledby="myPicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myPicModalLabel">Add a Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :caption %>
          <%= f.input :picture %>
        </div>          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add Picture", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="col-10 offset-1">
  <h1 class="float-left">Comments</h1>
  <!-- Comment Button trigger modal -->
  <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">
    Add a Comment
  </button>
</div>

<div class="clear"></div>



<div class="row">
  <% @place.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
          <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote> 
    </div>
  <% end %>
</div>










